body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 20px;
}

.logo {
    font-size: 2em;
}

.tagline {
    font-size: 1.2em;
    margin-top: -10px;
}

section {
    margin: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #3498db;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

blockquote {
    font-style: italic;
    border-left: 3px solid #3498db;
    padding-left: 10px;
}

cite {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

#contact-form {
    display: grid;
    gap: 10px;
}

button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #267bbd;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    position: fixed;
    bottom: 0;
    width: 100%;
}
